

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: #111111; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #2f2f2f;
    border-radius: 30px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(78, 78, 78); 
  }
  
  ::selection {
      background: red;
      color: white;
  }

  button:focus {
    outline: none;
}

  input:focus {
    outline: none;
  }
